div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  .logo-centered {
    margin: 20px;
    width: 20rem;
  }
  background: no-repeat center url('/assets/fondo.jpg');
  background-size: cover;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
