div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  mat-card {
    justify-content: center;
    align-items: center;
    background: #878e91da;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    max-width: 60vw;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
        margin: 10px;
        width: 50vw;
        max-width: 50vw;
        height: 4em;
        display: flex;
        text-align: center;
        color: black;
      }
    }
  }
  h1 {
    margin: 10px;
  }
}
