mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #878e914a;
  align-items: center;
  justify-content: space-around;
  a {
    margin: 10px;
    text-decoration: none;
  }
}
