mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #878e91da;
  align-items: center;
  width: fit-content;
  padding: 10px;
  a {
    margin: 10px;
    text-decoration: none;
    img {
      margin: 0px 10px -3px 10px;
    }
  }
}
