<app-image-parallax [text]="'Actividades'"></app-image-parallax>

<div>
  <mat-card>
    <h1>Vuelo de bautismo</h1>
    <h1>Vení al club y hacé tu vuelo de bautismo</h1>
    <p>
      Todos los Sábados, Domingos y Feriados, a partir de las 14hs. Por orden de llegada y dependiendo de las condiciones climaticas. Para los mismos
      se utiilizan los planeadores biplaza del club, acompañado por un piloto del mismo y junto a un avión de remolque se elevaran a una altura de 500
      metros. Luego, si las condiciones meteorológicas lo permiten, el piloto encontrará alguna corriente de aire ascendente (térmica) y te permitirá
      comprobar el vuelo a vela en un vehículo más pesado que el aire y sin motor. Tambien podras disfrutar del vuelo en dinamica, junto al cerro San
      Luis y Redondo. Finalmente, el vuelo terminará con un suave aterrizaje en nuestra pista.
    </p>
    <p>Recomendamos ropa comoda y no consumir demasiado alimento ni alcohol previo al vuelo.</p>
    <p>¡Te esperamos para disfrutar de esta experiencia inigualable!</p>
  </mat-card>

  <mat-card>
    <h1>Escuela de vuelo</h1>
    <h1>Curso de piloto de planedor (PPL)</h1>
    <p>El curso de piloto de planeador comienza generalmente en el mes de Marzo, y se desarrolla generalmente sabados, domingos y feriados.</p>
    <p>
      Es importante contar con disponibilidad horaria para realizar el mismo, la actividad es grupal y por lo tanto depende de todos los socios para
      funcionar.
    </p>
    <p>Requisitos:</p>
    <ul>
      <li>Realizar, al menos, un vuelo de bautismo.</li>
      <li>
        Tener 15 años y 9 meses cumplidos (como mínimo) al momento de la inscripción. Los menores de edad (menores de 21 años) deberán contar con
        autorización de los padres, certificada ante un escribano.
      </li>
      <li>
        <p>Poseer la Certificación Médica Aeronáutica (CMA) que es un exámen psicofísico.</p>
        <p>
          Actualmente se puede efectuar en el Instituto Nacional de Medicina Aeroespacial (INMAE), y también en Médicos Examinadores Aeronáuticos
          (AME) o por Centros Médicos Aeronáuticos Examinadores (CMAE). Para INMAE, debe solicitar turno vía web en
          <a href="https://www.inmae.ar/">https://www.inmae.ar/</a>. Para AME / CMAE consulte el listado de opciones de lugares en el sitio de ANAC
          <a href="https://www.argentina.gob.ar/anac/certificacion-medica-aeronautica-cma"
            >https://www.argentina.gob.ar/anac/certificacion-medica-aeronautica-cma</a
          >
        </p>
      </li>
      <li>Asociarse al club de planeadores Tandil. (Solicitar planilla en secretaría)</li>
    </ul>
    <p>
      El curso consta de un mínimo de 40 clases/remolques. Cada clase dura una jornada completa, en la que además del vuelo que hagas con el
      instructor, recibís instrucción teórica, meteorológica, de seguridad, etc.
    </p>
    <p>Se recomienda tener disponibilidad sabados, domingos y feriados para realizar el curso.</p>

    <h2>Requisitos y obligaciones del alumno piloto durante el curso</h2>
    <ul>
      <li>Estar al día con la cuota social del Club.</li>
      <li>Estar al día con el pago de los vuelos realizados.</li>
      <li>Estudio del manual de vuelo del planeador a utilizar y otros documentos que le sean requeridos por el Instructor a cargo.</li>
      <li>Participar el briefing que podrá dar el Instructor al comenzar la actividad.</li>
      <li>
        Participar en la limpieza y chequeo del planeador previo al vuelo y notificar sobre cualquier novedad que detecte en el material de vuelo.
      </li>
      <li>Colaborar con el traslado del material de vuelo hasta la cabecera.</li>
      <li>
        Oficiar de planillero y responsable de la radio base cuando le corresponda, asegurando el correcto registro de los vuelos y una atención
        constante sobre la frecuencia y la operación del aeródromo.
      </li>
      <li>
        Asistir con la operación de vuelo en la cabecera, buscando la soga, en la preparación al vuelo a otras personas, como señalero, corriendo el
        ala del planeador, y cualquier otra actividad que le sea requerida para desarrollar la normal actividad de vuelo.
      </li>
      <li>Colaborar con el hangaraje al finalizar la actividad del día.</li>
      <li>El alumno piloto asume la responsabilidad de asistir con regularidad. De no cumplir este punto.</li>
      <li>Limpieza y mantenimiento que le sean requeridas en las instalaciones del Club.</li>
    </ul>
  </mat-card>
</div>
