<app-image-parallax [text]="'Actividades'"></app-image-parallax>

<div>
  <mat-card>
    <h1>Vuelo de bautismo</h1>
    <h1>Vení al club y hacé tu vuelo de bautismo</h1>
    <p>
      Todos los Sábados, Domingos y Feriados, a partir de las 14hs. Por orden de llegada y dependiendo de las condiciones climaticas. Para los mismos
      se utiilizan los planeadores biplaza del club, acompañado por un piloto del mismo y junto a un avión de remolque se elevaran a una altura de 500
      metros. Luego, si las condiciones meteorológicas lo permiten, el piloto encontrará alguna corriente de aire ascendente (térmica) y te permitirá
      comprobar el vuelo a vela en un vehículo más pesado que el aire y sin motor. Tambien podras disfrutar del vuelo en dinamica, junto al cerro San
      Luis y Redondo. Finalmente, el vuelo terminará con un suave aterrizaje en nuestra pista.
    </p>
    <p>Recomendamos ropa comoda y no consumir demasiado alimento ni alcohol previo al vuelo.</p>
    <p>¡Te esperamos para disfrutar de esta experiencia inigualable!</p>
  </mat-card>

  <mat-card>
    <h1>Escuela de vuelo</h1>
    <h1>Curso de piloto de planedor (PPL)</h1>
    <p>El curso de piloto de planeador comienza generalmente en el mes de Marzo, y se desarrolla generalmente sabados, domingos y feriados.</p>
    <p>
      Es importante contar con disponibilidad horaria para realizar el mismo, la actividad es grupal y por lo tanto depende de todos los socios para
      funcionar.
    </p>
    <p>Requisitos:</p>
    <ul>
      <li>Realizar, al menos, un vuelo de bautismo.</li>
      <li>
        Tener 15 años y 9 meses cumplidos (como mínimo) al momento de la inscripción. Los menores de edad (menores de 21 años) deberán contar con
        autorización de los padres, certificada ante un escribano.
      </li>
      <li>
        Un examen psicofísico de alumno piloto de planeador en el INMAE (Instituto Nacional de Medicina Aeronáutica y Espacial), o ante Médico
        Examinador Aeronáutico.
      </li>
      <li>Asociarse al club de planeadores Tandil.(Solicitar planilla en secretaría)</li>
    </ul>
    <p>
      El curso consta de un mínimo de 40 clases/remolques. Cada clase dura una jornada completa, en la que además del vuelo que hagas con el
      instructor, recibís instrucción teórica, meteorológica, de seguridad, etc.
    </p>
  </mat-card>
</div>
