div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
