Club de Planeadores Tandil

<img mat-card-image src='./assets/logocpt.jpg' alt="Card image" onError="this.src='https://dummyimage.com/600x400'"/>

<div class="container">
<p>El Club de Planeadores Tandil nace el 12 de junio de 1936 gracias al esfuerzo y la unión de un grupo de entusiastas aeronáuticos liderados por Carlos Islas y Ludovico Ots. poco después ingresaron Roberto Madsen y su hermano José, quienes impulsaron la construcción de varios planeadores en su taller.</p>
<p>      El primer objetivo de la Institución recién fundada, era la de construir un planeador para comenzar con los vuelos a vela en la ciudad. Con esa intención, se obtienen los planos de las alas de un "Rhön Anfänger" (planeador escuela tipo primario), pero aún faltaban los del resto del planeador.</p>
<p></p>
<p>      Bajo la dirección de Roberto Madsen, (quien diseña las partes faltantes, fuselaje y timones), y comienzan con la construcción.</p>
<p></p>
<p>      Madsen es apoyado por el Club de Planeadores Tandil, para que concurra al Club Argentino de Planeadores "Albatros" en Buenos Aires, y realice el Curso de Pilotaje. Este retorna con la Licencia de Instructor de Planeadores, otorgada por el C.A.P.A., que en aquellos años, era el Organo Oficial encargado de otorgar dichas Licencias.</p>
<p></p>
<p>Durante 1937/38 se concluyen los trabajos sobre el "Rhön Anfänger" y se comienza con los vuelos en el campo del hipódromo local. Para entonces ya se habían conseguido los planos de un "Zögling 35" (también un planeador escuela tipo primario), y se comenzó de inmediato con la construcción.</p>
<p></p>
<p>Construcción del "3T1"      1939 fue un año muy intenso en prácticas de vuelo, durante este año se terminan los trabajos en el "Zögling 35" y en noviembre se hace el vuelo de prueba. Así mismo, se comienza con la construcción de un Grunau "Baby II", planeador de mayor performance y muy popular por esos años.</p>
<p></p>
<p>      En 1940 se realizan vuelos importantes con el "Zögling 35", logrando marcas de 3:30 hs. en la sierra "La Juanita", y varios de 1 hora de duración. En diciembre de este año se termina la construcción del "Baby II" y se hace el primer vuelo de prueba, llevó la matrícula o número de serie 3T1.</p>
<p></p>
<p>      En enero del siguiente año dos socios de la institución, Lorenzo Jaramillo y José Aracil, se trasladan a Buenos Aires, para completar el curso de pilotaje en el C.A.P.A., se realizan vuelos importantes con el "3T1" de más de 1000 metros ganados y distancias de 25, 35, y 40 kilómetros.</p>
<p></p>
<p>      Además, ya se estaba gestando otro objetivo importante para la Institución, como lo era la obtención de un campo de vuelo propio, centrándose como preferencia, en "Cerro Redondo" y "San Luis".</p>
<p></p>
<p>Operando sobre la ruta 74      En 1942 Roberto Madsen, completa una distancia libre de 111 Kms, que le valió para completar el "C" de Plata Nº 3 del país, un vuelo importante para la época. Lorenzo Jaramillo, comienza a impartir instrucción, en el "Zögling 35", a un grupo de socios entre los que se encontraban Héctor Madsen, Ambrosio Rozzanigo, Vicente Aloisi, y Pedro Rodríguez entre otros.</p>
<p></p>
<p>      En enero del '43, un segundo grupo va al C.A.P.A. a realizar el curso de piloto y regresan con la Licencia de Piloto, Héctor Madsen, Richter, y Rozzanigo. También más tarde quedan volando el "3T1" como pilotos, Brutti, Aloisi, Rodríguez, los que se sumaban a Jaramillo y Aracil, siempre supervisando como Instructor, Jaramillo.</p>
<p></p>
<p>      Este último, en el año '44 obtiene el nombramiento Oficial como Instructor de Vuelo sin Motor, y es asignado al Club de Planeadores Tandil.</p>
<p></p>
<p>      En febrero de 1945, Héctor Madsen y Lorenzo Jaramillo, participan en el Primer Campeonato de Vuelo sin Motor, que se hace en el Instituto Aerotécnico en Córdoba, realizando una destacada actuación.</p>
<p></p>
<p>Trazado de las pistas      En el año 1946 llega el objetivo tan ansiado de obtener el campo de vuelo propio. La Dirección de Vuelo sin Motor, tiene la oportunidad de elevar un Informe con el estudio de la zona de Cerro Redondo, el que dá lugar al decreto de expropiación del predio que actualmente ocupa sobre la Ruta 74, designando el Estado al C.P.T. depositario del mismo. Inmediatamente los socios del Club comienzan con los trabajos para adecuarlo como aeródromo.</p>
<p></p>
<p>      La Dirección General de Infraestructura envía máquinas y personal para el trazado de las pistas. A su vez Jaramillo consigue el apoyo de la Municipalidad, que también aporta maquinarias y personal con los mismos fines.</p>
<p></p>
<p>      Por ese entonces el Presidente del C.P.T. era Don José Bariffi, quien había aportado mucho con la gestión y obtención de la Personería Jurídica para la Institución.</p>
<p></p>
<p>      Por su parte, los socios pilotos más un grupo de nuevos socios jóvenes (futuros alumnos), se dedicaron a la construcción del hangar, primer elemento básico de las instalaciones de un campo de vuelo. Sus paredes fueron levantadas con piedras sueltas que se hallaban en el lugar y que se acarreaban en camiones prestados por la Base Aérea. La obra se terminó en seis meses y se movieron 300 toneladas de piedra.</p>
<p></p>
<p>Construcción del hangar Construcción del hangar Construcción del hangar</p>
<p></p>
<p>      Enseguida comenzaron los vuelos con el "Zögling 35" y el "3T1", mientras se esperaba la habilitación oficial como Escuela de Vuelo, que sucedería el 9 de julio de 1948.</p>
<p></p>
<p>Alumnos-pilotos      Ni bien es habilitada la Escuela, bajo la dirección del Instructor Oficial y Jefe de Aeródromo, don Lorenzo Jaramillo, comienza la primera promoción de alumnos. Ellos fueron Edith Sorensen, Miguel Urdampilleta, Roberto Palacios, R. Ramil, R. Gómez, Atilio Fedalto, J Del Toro, Carlos Anderson, Rodolfo Venancio, Dario Sachetti, Carlos Rizzardi, J. Dal Dosso y C. Orsiani.</p>
<p></p>
<p>      Durante el año 1950 se producen cambios estructurales en la Dirección de Vuelo sin Motor y todas las instalaciones, tanto del aeródromo como la sede en la ciudad, más todo el material de vuelo, y demás elementos, pasan a pertenecer al Centro de Instrucción de Vuelo sin Motor, una Escuela de Vuelo estatal en la que siguió Jaramillo como Instructor y autoridad máxima.</p>
<p></p>
<p>      Esto funcionó así, sin que el C.P.T. pudiera tener ningún tipo de participación, hasta que en el año 1952, se disolvió el "Centro" y todo volvió a posesión del C.P.T. nuevamente.</p>

</div>