p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

.display-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-size {
  font-size: 1vw;
}

.map-card {
  width: 95%;
  height: fit-content;
  padding: 10px;
}

.logo-centered {
  height: 30vh;
  max-width: 70vw;
}

.background-main {
  background-image:linear-gradient(0deg,rgba(255,255,255,1) 1%, rgba(255,255,255,0.7) 2%, rgba(255,255,255,0) 100%),url("/assets/fondo.jpg");
  height: 40vh;
  background-size: cover;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: fantasy;
  font-size: 4vw;
  color: #606060;
}
