<mat-toolbar color="primary">
 <button  class="hide-display-desktop" mat-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Bienvenidos</button>
    <button mat-menu-item routerLink="/informacion">Informacion</button>
    <button mat-menu-item routerLink="/planeadores">Planeadores</button>
  </mat-menu>
    
  <a mat-button class="buttonName text" routerLink="/">
    Club de Planeadores Tandil
  </a>
  <span class="spacer"></span>
  
  <div class="hide-display-mobile text">
    <a mat-button routerLink="/">Bienvenidos</a>
    <a mat-button routerLink="/informacion">Informacion</a>
    <a mat-button routerLink="/planeadores">Planeadores</a>
  </div>
  
</mat-toolbar>