<mat-toolbar class="toolbar">
  <button class="hide-display-desktop" mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="white-text">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Inicio</button>
    <button mat-menu-item routerLink="/documentacion">Documentacion</button>
    <button mat-menu-item routerLink="/aeronaves">Aeronaves</button>
    <button mat-menu-item routerLink="/actividades">Actividades</button>
    <button mat-menu-item routerLink="/contacto">Contacto</button>
  </mat-menu>

  <a mat-button class="buttonName text" routerLink="/" class="white-text"> Club de Planeadores Tandil </a>
  <span class="spacer"></span>

  <div class="hide-display-mobile text">
    <a mat-button routerLink="/"  class="white-text">Inicio</a>
    <a mat-button routerLink="/documentacion"  class="white-text">Documentacion</a>
    <a mat-button routerLink="/aeronaves"  class="white-text">Aeronaves</a>
    <a mat-button routerLink="/actividades"  class="white-text">Actividades</a>
    <a mat-button routerLink="/contacto"  class="white-text">Contacto</a>
  </div>
</mat-toolbar>
