<mat-toolbar color="primary">
  <button class="hide-display-desktop" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  
  <a mat-button class="buttonName text" routerLink="/">
    Club de Planeadores Tandil
  </a>
  <span class="spacer"></span>
  
  <div class="hide-display-mobile text">
    <a mat-button routerLink="/">Bienvenidos</a>
    <a mat-button routerLink="/vuelos">Volá con nosotros</a>
    <a mat-button routerLink="/planeadores">Planeadores</a>
    <a mat-button routerLink="/contactenos">Contactenos</a>
  </div>
  
</mat-toolbar>