[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = AR
ST = BA
L = Tandil
O = Cpt-Sistems
OU = CPtS
emailAddress = mati.rodriguez.9616@gmail.com
CN = cplaneadorestandil.com.ar

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = cplaneadorestandil.com.ar