mat-card {
  background: #4d77b6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    button {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  mat-card {
    flex-direction: column;
  }
}
