div {
  background-color: #4d77b6;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #4d77b6;
  align-items: center;
  place-content: flex-end;
  padding: 10px;
  margin-top: auto;
  height: 3em;
  color: white;

  a {
    margin: 10px;
    text-decoration: none;
    color: white;
    img {
      color: white;
      margin: 0px 10px -3px 10px;
    }
  }
}
