<mat-card>
    Los vuelos de bautismo se realizan los sábados, domingos y feriados ( se abona en efectivo o por transferencia). No hace falta reservar, solo tenés que acercarte al club a partir de las 14 hs, es por orden de llegada!


    Los requisitos son:
    ● Tener 15 años y 9 meses cumplidos (como mínimo) al momento de la inscripción. Los
    menores de edad (menores de 21 años) deberán contar con autorización de los padres,
    certificada ante un escribano.
    ● Realizar, al menos, un vuelo de bautismo.
    ● Aprobar un examen psicofísico de alumno piloto de planeador en el INMAE (Instituto
    Nacional de Medicina Aeronáutica y Espacial), o ante Médico Examinador Aeronáutico.
    ● Asociarse al Club de Planeadores Tandil (solicitar planilla

    Las clases (tanto teóricas como prácticas) se dictan en nuestro campo de vuelo (Ruta
    74, altura Desvío Aguirre), los días sábados y domingos (siempre que las condiciones
    meteorológicas acompañen), entre las 10hs y las 18hs, y consisten en remolques/vuelos
    (aproximadamente 40) en planeador biplaza, con instructor a bordo. Dichas clases se
    complementan con la necesaria instrucción teórica (aerodinámica, meteorología, normas
    aeronáuticas, etcétera).
    Te esperamos sabados, Domingos y feriados para realizar el vuelo de bautismo y te saques tus dudas con el instructor 😊


    Esta es la ubicación del campo de vuelo:
    https://bit.ly/2BuMFt0
</mat-card>