<ng-container>
    <app-glider-sidenav></app-glider-sidenav>
    <mat-card>    
        <h1>
            {{glider.gliderMaker}} -
            {{glider.gliderDesignator}}
        </h1>
    <img mat-card-image src={{glider.photoFilename}} alt="Card image" onError="this.src='https://dummyimage.com/600x400'"/>
    
    <h1>  {{glider.gliderModel}}</h1>
    <h2> {{glider.description}}</h2>

    <mat-card>
        <h2>Manuales</h2>

        <button mat-button>Manual de vuelo -  {{glider.userManualFilename}}</button>
        <button mat-button>Manual de Mantenimiento -  {{glider.maintenanceManualFilename}}</button>
    </mat-card>
   
  </mat-card>

</ng-container>