mat-drawer-container {
  background: none;
  mat-drawer {
    background: #878e91da;
    margin: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  mat-drawer-content {
    mat-card {
      align-items: center;
      background: #878e91da;
      margin: 2rem;
      img {
        align-self: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 20rem;
        border-radius: 5px;
      }
      a {
        margin: 10px;
        padding: 2rem;
        display: flex;
        text-align: center;
        font-size: 1rem;
        text-decoration: none;
        img {
          margin: auto;
          box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
          height: 30px;
          width: 30px;
          border: 0;
        }
      }
    }
  }
}
