mat-drawer-container {
  width: 100vw;
  height: 100vh;
  margin: 10px;
  background: #878e914a;
  mat-drawer {
    background: #878e91da;
  }
  mat-drawer-content {
    mat-card {
      align-items: center;
      background: #878e91da;
      margin: 1rem;
      padding: 0.5rem;
      img {
        align-self: center;
        border: 1px solid black;
        width: 20rem;
        border-radius: 5px;
      }
      a {
        margin: 10px;
        padding: 2rem;
        display: flex;
        text-align: center;
        font-size: 1rem;
        text-decoration: none;
        img {
          margin: auto;
          height: 30px;
          width: 30px;
          border: 0;
        }
      }
    }
  }
}
