<app-image-parallax [text]="glider.model + ' - ' + glider.designator"></app-image-parallax>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <app-glider-sidenav></app-glider-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <p>
        {{ glider.model }} -
        {{ glider.designator }}
      </p>
      <img mat-card-image srcset="{{ glider.image }}" alt="Card image" onError="this.src='./assets/logo.png'" />

      <h3>{{ glider.description }}</h3>

      <div *ngIf="glider.manualList.length > 0">
        <p>Documentacion</p>
        <ng-container *ngFor="let manual of glider.manualList">
          <a href="{{ manual.link }}" mat-raised-button color="primary">
            {{ manual.name }} - Descargar
            <img src="./assets/svg/download.svg" />
          </a>
        </ng-container>
      </div>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
