@use "@angular/material" as mat;

// Be sure that you only ever include this mixin once!
@include mat.core();

// Define your theme with color palettes, typography and density

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette
    )
  )
);

$mat-density: 0;

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");

html {
  @include mat.all-component-themes($my-theme);
}
html,
body {
  font-family: "Archivo";
  margin: 0;
  background-color: #4d77b6;
}
/*this hiddes the scrollbar on desktop mode
    TODO: Check if there is a better solucion for this issue
*/
*::-webkit-scrollbar {
  width: 1px;
}
